img{
	height: auto;
}

.single{
	margin-top: 7rem;
}

.single .section-title {
	width: -moz-fit-content;
	width: fit-content;
	font-size: 3rem;
	font-weight: 700;
  text-align: center;
	color: transparent;
  background: linear-gradient(to right, #1466C7, #6BB7D1);
	display: block;
	margin: 0 auto;
  -webkit-background-clip: text;
          background-clip: text;
}
@media (min-width: 1200px) {
	.single .section-title {
		font-size: 4rem;
	}
}

.single h3{
	font-size: 2rem;
	text-align: center;
	margin:1.5rem 0;
}

.single .post-categories{
	width: fit-content;
	padding-left: 0;
}

.single .post-categories li{
	width: fit-content;
	margin-right:1rem;
}

.single .category-box{
	margin-top:1rem;
}

.single .category-box span{
	display: inline-block;
}

.single .container .wp-block-group{
	border:3px solid #6BB7D1;
	margin:3rem 0 0 0;
	padding:0 0 2rem 0;
}

.single .container .wp-block-group:first-child{
	border: none;
	margin:0;
	padding:0 0 2rem 0;
}

.single .wp-block-image img{
	max-width: 1000px;
	display: block;
	margin: 0 auto;
}


.single .wp-block-group h2{
	width:fit-content;
	font-size:1.25rem;
	color:white;
	background-color:#6BB7D1;
	display: block;
	margin:0;
	padding:0.5rem 2rem 0.5rem 1rem;
	clip-path:polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.single .wp-block-group h3{
	font-size:1rem;
	font-weight:600;
	text-align: left;
	color:#6BB7D1;
	margin-top:1.5rem;
	padding:0 15px;
}


.single .wp-block-group p{
	margin-top:1rem;
	padding:0 15px;
}

.single .wp-block-group p{
	margin-top:1rem;
	padding:0 15px;
}